<html>
  <head>
    <link rel="stylesheet" type="text/css" href="statprofiler.css">
  </head>
  <body>
    <table>
      <caption>File source code</caption>
      <tr>
        <th>Line</td>
        <th>Exclusive samples</th>
        <th>Inclusive samples</th>
        <th>Code</th>
      </tr>
[% my ($lines, $exclusive, $inclusive, $subs, $callees) = @variables{qw(lines exclusive inclusive subs callees)};
   my ($sub_link, $file_link) = @variables{qw(sub_link file_link)};
   for my $line (1 .. $#$lines) { %]
      <tr>
        <td><a name="L[%= $line %]" />[%= $line %]</td>
        <td>[%= $exclusive->[$line] || '' %]</td>
        <td>[%= $inclusive->[$line] || '' %]</td>
        <td>
[%   if (my $starting_subs = $subs->{$line}) { %]
          <span class="call-sites">
[%     for my $sub (@$starting_subs) { %]
            [%= $sub->{inclusive} %] samples in [%= $sub->{name} %]<br />
[%       for my $site (sort values %{$sub->{call_sites}}) { %]
            [%= $site->{exclusive} %] (ex.), [%= $site->{inclusive} %] (incl.) from [%= $site->{caller}{name} %] <a href="[%= $file_link->($site->{file}, $site->{line}) %]">line [%= $site->{line} %]</a><br />
[%       } %]
[%     } %]
          </span>
[%   } %]
[%   if (my $calls = $callees->{$line}) { %]
          <span class="callees">
[%     for my $call (@$calls) { %]
            [%= $call->{inclusive} %] samples in <a href="[%= $sub_link->($call->{callee}) %]">[%= $call->{callee}{name} %]</a><br />
[%     } %]
          </span>
[%   } %]
          <span class="code">[%= $lines->[$line] %]</span>
        </td>
      </tr>
[% } %]
[% my @opcodes = sort { $b->{name} cmp $a->{name} } @{$subs->{'-2'} || []};
   my @special = @opcodes;
   for my $line (0 .. $#special) {
     my $sub = $special[$line];
     (my $anchor = $sub->{name}) =~ s/\W+/-/g; %]
      <tr>
        <td><a name="LX[%= $anchor %]" /></td>
        <td></td>
        <td></td>
        <td>
          <span class="call-sites">
            [%= $sub->{inclusive} %] samples in [%= $sub->{name} %]<br />
[%   for my $site (sort values %{$sub->{call_sites}}) { %]
            [%= $site->{exclusive} %] (ex.), [%= $site->{inclusive} %] (incl.) from [%= $site->{caller}{name} %] <a href="[%= $file_link->($site->{file}, $site->{line}) %]">line [%= $site->{line} %]</a><br />
[%   } %]
          </span>
[%   if ($sub->{kind} == 2) { %]
          <span class="code">sub [%= $sub->{name} %] # opcode</span>
[%   } %]
        </td>
      </tr>
[% } %]
    </table>
  </body>
</html>
