?  my %variables = %{$_[0]};
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="statprofiler.css">
    <title>StatProfiler: <?= $variables{basename} ?></title>
  </head>
  <body>
?= $variables{include}->('header', $_[0])
    <div id="body-content">
      <table>
        <caption>File source code</caption>
        <tr>
          <th>Line</td>
          <th>Exclusive</th>
          <th>Inclusive</th>
          <th>Code</th>
        </tr>
<? my ($lines, $exclusive, $inclusive, $subs, $callees, $mapping) = @variables{qw(lines exclusive inclusive subs callees mapping)};
   my ($sub_link, $file_link, $lookup_sub, $format_total_ratio, $format_ratio) = @variables{qw(sub_link file_link lookup_sub format_total_ratio format_ratio)};
   my ($logical_line, $logical_file, $physical_end) = (1, undef, 1);
   my $map_index = 0;

   for my $line (1 .. $#$lines) {
     ++$logical_line;
     if ($line == $mapping->[$map_index][0]) {
       my $entry = $mapping->[$map_index];
       $logical_line = $line - $entry->[0] + $entry->[2];
       $logical_file = $entry->[1];
       ++$map_index;
     }
 ?>
        <tr>
?    if ($logical_file) {
          <td><a name="L<?= $logical_file ?>-<?= $logical_line ?>"></a><?= $logical_line ?></td>
?    } else {
          <td><?= $logical_line ?></td>
?    }
          <td><?= $format_total_ratio->($exclusive->[$line], 'empty') ?></td>
          <td><?= $format_total_ratio->($inclusive->[$line], 'empty') ?></td>
          <td>
?    if (my $starting_subs = $subs->{$line}) {
            <div class="call-sites">
?      for my $sub (@$starting_subs) {
              <a name="S<?= $sub->{uq_name} =~ s/\W+/-/gr ?>"></a>
              <?= $format_total_ratio->($sub->{inclusive}) ?> samples spent in <?= $sub->{name} ?><br />
?        for my $site (sort values %{$sub->{call_sites}}) {
              <?= $format_ratio->($site->{exclusive}, $sub->{exclusive}) ?> (ex.),
              <?= $format_ratio->($site->{inclusive}, $sub->{inclusive}) ?> (incl.)
              when called from
              <?= $lookup_sub->($site->{caller})->{name} ?>
              <a href="<?= $file_link->($site->{file}, $site->{line}) ?>">line <?= $site->{line} ?></a><br />
?        }
?      }
            </div>
?    }
?    if (my $calls = $callees->{$line}) {
            <div class="callees">
?      for my $call (@$calls) {
?          my $callee = $lookup_sub->($call->{callee});
              <?= $format_ratio->($call->{inclusive}, $inclusive->[$line]) ?>
              samples spent calling
              <a href="<?= $sub_link->($callee) ?>"><?= $callee->{name} ?></a><br />
?      }
            </div>
?    }
            <span class="code"><?= $lines->[$line] ?></span>
          </td>
        </tr>
?  }
<? my @opcodes = sort { $b->{name} cmp $a->{name} } @{$subs->{'-2'} || []};
   my @xsubs = sort { $b->{name} cmp $a->{name} } @{$subs->{'-1'} || []};
   my @special = (@opcodes, @xsubs);
   for my $line (0 .. $#special) {
     my $sub = $special[$line];
 ?>
        <tr>
          <td><a name="S<?= $sub->{name} =~ s/\W+/-/gr ?>"></a></td>
          <td></td>
          <td></td>
          <td>
            <div class="call-sites">
              <?= $sub->{inclusive} ?> samples spent in <?= $sub->{name} ?><br />
?    for my $site (sort values %{$sub->{call_sites}}) {
              <?= $format_ratio->($site->{exclusive}, $sub->{exclusive}) ?> (ex.),
              <?= $format_ratio->($site->{inclusive}, $sub->{inclusive}) ?> (incl.)
              when called from
              <?= $lookup_sub->($site->{caller})->{name} ?>
              <a href="<?= $file_link->($site->{file}, $site->{line}) ?>">line <?= $site->{line} ?></a><br />
?    }
            </div>
?    if ($sub->{kind} == 2) {
            <span class="code">sub <?= $sub->{name} ?> # opcode</span>
?    } else {
            <span class="code">sub <?= $sub->{name} ?> # xsub</span>
?    }
          </td>
        </tr>
?  }
      </table>
    </div>
  </body>
</html>
