?  my %variables = %{$_[0]};
<div class="report-header">
  <div class="backlink"><a href="index.html">Report index</a></div>
  <div class="report-title">StatProfilerHTML.jl report</div>
  <div class="generated-on">Generated on <?= $variables{date} ?></div>
</div>
