table {
    border-collapse: collapse;
    /* border-spacing: 0px; */
}

th {
    border: solid 1px #000000;
}

td {
    border: solid 1px #000000;
}

.call-sites {
    font-family: monospace;
}

.callees {
    font-family: monospace;
}

.code {
    font-family: monospace;
    white-space: pre;
}