?  my %variables = %{$_[0]};
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="statprofiler.css">
    <script src="sorttable.js"></script>
    <title>StatProfiler: subroutine list</title>
  </head>
  <body>
?= $variables{include}->('header', $_[0])
    <div id="body-content">
      <table class="sortable">
        <caption>Subroutines, sorted by exclusive sample count</caption>
        <tr>
          <th class="sorttable_sorted">Exclusive</td>
          <th>Inclusive</td>
          <th>Subroutine</th>
        </tr>
<? my ($sub_link, $format_total_ratio) = @variables{qw(sub_link format_total_ratio)};
   for my $sub (@{$variables{subs}}) {
 ?>
        <tr>
          <td sorttable_customkey="<?= $sub->{exclusive} ?>"><?= $format_total_ratio->($sub->{exclusive}) ?></td>
          <td sorttable_customkey="<?= $sub->{inclusive} ?>"><?= $format_total_ratio->($sub->{inclusive}) ?></td>
          <td>
            <a href="<?= $sub_link->($sub) ?>"><?= $sub->{name} ?></a>
?    if ($sub->{kind} == 2) {
            (opcode)
?    } elsif ($sub->{kind} == 1) {
            (xsub)
?    }
          </td>
        </tr>
?  }
      </table>
    </div>
  </body>
</html>
